.container {
    font-size: 5vw;
    left: 2vw;
    font-family: YuMincho, "Hiragino Mincho ProN", serif;
    color:#0f1419;
}
.times{
    font-size: 1.5vw;
    display: inline-block;
    position: absolute;
    right: 1vw; 
}

.flex{
    display: flex;            
    align-items: center;
}
.imagecontainer {
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
    text-align: center; 
    height: 13vw;
    width: 13vw; 
    transform: translateY(-18%);

}
.itemscontainer {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
    transform: translateY(-18%);
    margin-right: 5vw;
    height: 13vw;
    width: 13vw;
}
.imageranker{
    display: flex; 
    text-align: center;
    margin-top: 5vw;
    margin-left: 5;
    height: 25%;
}
.rankfontsize{
    font-size: 3.4vw;
    text-align: center;
    margin-right: 5vw;
    margin-left: 3vw;
    transform: translateY(15%);
    white-space: nowrap;
    font-family: YuMincho, "Hiragino Mincho ProN", serif;
    color:#0f1419;
}
.namesfontmargin{
    font-size: 3.7vw;
    text-align: center;
    margin-right: 10%;
    transform: translateY(37%);
    position: absolute;
    left: 80vw;
    font-family: YuMincho, "Hiragino Mincho ProN", serif;
    color:#0f1419;
    white-space: nowrap;
}
.itemmrgin{
    text-align: center;
    font-size: 3.7vw;
    margin-right: 13%;
    margin-left: 3%;
    transform: translateY(15%);
    font-family: YuMincho, "Hiragino Mincho ProN", serif;
    color:#0f1419;
    white-space: nowrap;
}
.pagessize{
    height: 100%;
    width: 100%;
    background-color: #FDF0C4;
    display:flex;
    flex-flow: column;
    
}